body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 40px solid pink;
    border-left: 40px solid mediumvioletred;
    border-bottom: 40px solid violet;
    border-right: 40px solid darkmagenta;
    animation:preloader 3s linear infinite alternate ;
}
@keyframes preloader {
    from{transform: rotate(360deg)

    }
    to{transform: rotate(-360deg);

    }
}